.flexbox-container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Добавлено для корректного позиционирования абсолютных элементов */
}

.flexbox-container img {
    max-width: 100%; /* Убедитесь, что изображение не выходит за пределы контейнера */
    max-height: 100%;
    position: absolute;
    user-select: none;
}

.flexbox-container .boy-left{
    height: 70%;
    bottom: 0%;
    z-index: 1;
}

.flexbox-container .boy-right{
    height: 70%;
    bottom: 0%;
    z-index: 3;
}

.flexbox-container .spinner{
    bottom: 39%;
    height: 15%;
    z-index: 4;
}

.flexbox-container .stick{
    bottom: 33%;
    height: 15%;
    z-index: 2;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner-spinning {
    animation: spin 2s linear infinite;
}

.sepia-effect {
    filter: sepia(100%);
}