body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

main button {
    font-size: 18px;
    border: 1;
    border-radius: 20px;
    background-color: #e0e0e0;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    width: 320px;
    height: 40px;
    margin: 5px;
}

.wagon {
    width: 120px;
    height: 70px;
    background-color: #8B4513;
    position: relative;
    border-radius: 20px 20px 0 0;
}

.wagon::before, .wagon::after {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 30px;
    height: 30px;
    background-color: #333;
    border-radius: 50%;
}

.wagon::before {
    left: 10px;
}

.wagon::after {
    right: 10px;
}
