/* Основные настройки для всего документа */
* {
  margin: 0; /* Обнуление отступов */
  padding: 0; /* Обнуление внутренних отступов */
  box-sizing: border-box; /* Установка модели расчета размеров */
  background-color: inherit; /* Наследование цвета фона */
}

.cube {
  background: inherit;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  padding: 10px;
  border: 1px solid #BDBDBD;
  min-width: 1%;
  width: 20%;

  height: auto; /* Новое значение, делает высоту автоматической на основе содержимого */
  position: relative;
}

/* Стили для содержимого куба */
.cube__content {
  position: absolute; /* Абсолютное позиционирование */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex; /* Использование flexbox для выравнивания содержимого */
  justify-content: center; /* Центрирование содержимого по горизонтали */
  align-items: center; /* Центрирование содержимого по вертикали */
  flex-direction: column; /* Вертикальное направление элементов */
  width: 100%; /* Ширина элемента */
  height: 100%; /* Высота элемента */
}

/* Отдельный ряд внутри куба */
.cube__row {
  display: flex; /* Использование flexbox */
  flex-direction: row; /* Горизонтальное направление элементов */
  width: 100%; /* Ширина элемента */
  height: 100%; /* Высота элемента */
  padding: 0%; /* Обнуление внутренних отступов */
  margin: 0%; /* Обнуление внешних отступов */
}

/* Отдельный элемент в ряду */
.cube__item {
  width: 100%; /* Ширина элемента */
  height: 100%; /* Высота элемента */
  font-size: 0; /* Исправление проблемы с отображением пустых элементов */
  box-sizing: border-box; /* Установка модели расчета размеров */
}

/* Стили для панели результатов */
#res-board {
  display: flex; /* Использование flexbox */
  width: 100%; /* Ширина элемента */
  justify-content: center; /* Центрирование содержимого */
  flex-direction: column; /* Вертикальное направление элементов */
  margin-top: 20px; /* Отступ сверху */
  border: 1px solid #BDBDBD; /* Граница в стиле Material Design */
}

/* Стили для линий внутри панели результатов */
.line {
  width: 100%; /* Ширина элемента */
  min-width: 100%; /* Минимальная ширина */
  background-color: #FFFFFF; /* Белый цвет фона для линий */
  display: flex; /* Использование flexbox */
  justify-content: space-between; /* Распределение элементов с пространством между ними */
}

/* Стилизация параграфов внутри линий */
.line p {
  margin: 10px; /* Внешний отступ */
  font-size: 20px; /* Размер шрифта */
  height: 100%; /* Высота элемента */
}

/* Особые стили для первого параграфа в линии */
.line p:nth-child(1) {
  border-right: 1px solid #BDBDBD; /* Граница справа */
  width: 200px; /* Ширина элемента */
}

/* Изменения для тела документа */
body {
  width: 100%; /* Ширина */
  height: 100vh; /* Высота, занимающая всю видимую область */
  background: #FFFFFF; /* Белый фон в стиле Material Design */
}

/* Стили для основного контейнера курса */
.course {
  width: 100vw; /* Ширина, занимающая всю видимую область */
  min-width: 50vw; /* Минимальная ширина */
  min-height: 90vh; /* Минимальная высота */
  display: flex; /* Использование flexbox */
  align-items: center; /* Центрирование элементов по вертикали */
  flex-direction: column; /* Вертикальное направление элементов */
}

/* Стили для игрового поля */
#game {
  width: 100%; /* Ширина */
  height: 100%; /* Высота */
  border: 1px solid #BDBDBD; /* Граница в стиле Material Design */
  display: flex; /* Использование flexbox */
  flex-direction: row; /* Горизонтальное направление элементов */
  flex-wrap: nowrap; /* Без переноса элементов */
}

/* Стили для доски счёта */
#score-board {
  max-width: 250px; /* Максимальная ширина */
  width: 100%; /* Ширина */
  display: flex; /* Использование flexbox */
  flex-direction: column; /* Вертикальное направление элементов */
  align-items: center; /* Центрирование элементов по горизонтали */
  padding: 10px; /* Внутренний отступ */
}

/* Стили для кнопок на доске счёта */
#score-board button {
  margin: 0; /* Обнуление внешних отступов */
  margin-top: 22px; /* Верхний отступ */
  background-color: #6200EA; /* Цвет фона кнопки в стиле Material Design */
  color: #FFFFFF; /* Цвет текста */
}

/* Стили для параграфов на доске счёта */
#score-board p {
  margin-top: 10px; /* Верхний отступ */
  font-size: 20px; /* Размер шрифта */
  max-width: 250px; /* Максимальная ширина */
  color: #000000; /* Цвет текста */
}

/* Стили для игрового поля */
#game-board {
  width: 100%; /* Ширина */
  height: 100%; /* Высота */
  min-width: 350px; /* Минимальная ширина */
  min-height: 250px; /* Минимальная высота */
  padding: 5%; /* Внутренний отступ */
  display: flex; /* Использование flexbox для выравнивания дочерних элементов */
  flex-direction: row; /* Горизонтальное направление дочерних элементов */
  flex-wrap: wrap; /* Разрешение переноса элементов на новую строку */
  justify-content: center; /* Центрирование содержимого по горизонтали */
  align-items: center; /* Центрирование содержимого по вертикали */
}

/* Стили для контейнера старта игры */
.start_container {
  width: 100%; /* Ширина контейнера */
  height: 100%; /* Высота контейнера */
  display: flex; /* Использование flexbox */
  justify-content: center; /* Центрирование содержимого по горизонтали */
  align-items: center; /* Центрирование содержимого по вертикали */
  flex-direction: column; /* Вертикальное направление дочерних элементов */
}

/* Стили для селектора кнопок */
.button-selector {
  display: flex; /* Использование flexbox */
  justify-content: center; /* Центрирование содержимого по горизонтали */
  align-items: center; /* Центрирование содержимого по вертикали */
  flex-direction: column; /* Вертикальное направление дочерних элементов */
  width: 100%; /* Ширина селектора */
}

/* Стили для кнопок-выборщиков */
.picker {
  width: 100px; /* Ширина кнопки */
  height: 50px; /* Высота кнопки */
  margin: 10px; /* Внешний отступ */
  border: none; /* Удаление рамки */
  border-radius: 5px; /* Скругление углов */
  color: white; /* Цвет текста */
  font-size: 20px; /* Размер шрифта */
  cursor: pointer; /* Курсор в виде указателя */
  transition: background-color 0.3s; /* Плавное изменение цвета фона */
  background-color: #6200EA; /* Цвет фона кнопки */
}

/* Стили для кнопок-выборщиков при наведении */
.picker:hover {
  background-color: #3700B3; /* Темно-синий цвет фона */
}

/* Стили для активной кнопки-выборщика */
.picker.active {
  background-color: #670000; /* Темно-синий цвет фона */
}

/* Стили для полей ввода */
.input {
  width: 250px; /* Ширина поля */
  height: 50px; /* Высота поля */
  margin: 10px; /* Внешний отступ */
  border: 1px solid #BDBDBD; /* Граница поля */
  border-radius: 5px; /* Скругление углов */
  color: black; /* Цвет текста */
  font-size: 20px; /* Размер шрифта */
  cursor: pointer; /* Курсор в виде указателя */
  background-color: #FFFFFF; /* Белый цвет фона */
}

/* Стили для текстовых полей ввода */
.input[type="text"] {
  padding: 10px; /* Внутренний отступ */
}

/* Общие стили для кнопок */
button {
  min-width: 20px; /* Минимальная ширина */
  max-width: 250px; /* Максимальная ширина */
  width: 100%; /* Ширина */
  height: 50px; /* Высота */
  border: none; /* Удаление рамки */
  border-radius: 5px; /* Скругление углов */
  color: white; /* Цвет текста */
  font-size: 20px; /* Размер шрифта */
  cursor: pointer; /* Курсор в виде указателя */
  margin: 12px; /* Внешний отступ */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); /* Тень для кнопок в стиле Material Design */
  transition: background-color 0.3s; /* Плавное изменение цвета фона */
  background-color: #6200EA; /* Цвет фона кнопки */
}

/* Стили для кнопок при наведении */
button:hover {
  background-color: #3700B3; /* Темно-синий цвет фона при наведении */
}

/* Стили для div-контейнеров */
div {
  width: 100%; /* Ширина контейнера */
}

/* Стили для форм */
form {
  display: flex; /* Использование flexbox для выравнивания */
  flex-direction: column; /* Вертикальное направление элементов */
  align-items: center; /* Центрирование элементов по горизонтали */
  justify-content: center; /* Центрирование элементов по вертикали */
  width: 100%; /* Ширина формы */
  height: 100%; /* Высота формы */
}

/* Анимация "shake" для элементов с классом .wrong */
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

/* Стили для элементов с классом .wrong */
.wrong {
  animation: shake 0.5s ease-in-out; /* Применение анимации */
}

/* Стили для элементов с классом .error */
.error {
  color: #D32F2F; /* Красный цвет текста для ошибок */
  position: absolute; /* Абсолютное позиционирование */
  border-radius: 5px; /* Скругление углов */
  left: 50%; /* Горизонтальное позиционирование */
  top: 50%; /* Вертикальное позиционирование */
  transform: translate(-50%, -50%); /* Центрирование элемента */
  background-color: #FFFFFF; /* Белый цвет фона */
  border: 1px solid #D32F2F; /* Красная граница */
  padding: 20px; /* Внутренний отступ */
}

/* Стили для таблицы лидеров */
#leaderboard {
  display: flex; /* Использование flexbox для выравнивания */
  flex-direction: column; /* Вертикальное направление элементов */
  align-items: center; /* Центрирование элементов по горизонтали */
  justify-content: center; /* Центрирование элементов по вертикали */
  width: 100%; /* Ширина таблицы */
  height: 100%; /* Высота таблицы */
  padding: 22px; /* Внутренний отступ */
}


