.dino {
    position: fixed;
    height: 200px;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.dino .body {
    position: absolute;
    height: 25%;
    width: 40%;
    top: calc((100% - 30%) / 2);
    left: calc((100% - 50%) / 2);;
    background: linear-gradient(to bottom, green, rgb(200, 200, 200));
    border-radius: 50% / 50%;
    z-index: 3;
}

.dino .tail {
    position: absolute;
    height: 25%;
    width: 25%; 
    top: 27%;
    left: calc(18% + 30px);
    box-shadow: -30px 0px green;
    border-radius: 50%;
    z-index: 1;
}

.dino .neck {
    position: absolute;
    height: 10%;
    width: 15%;
    top: 30%;
    left: 56%;
    background: green;
    rotate: 125deg;
    z-index: 1;
}

.dino .head {
    position: absolute;
    height: 15%;
    width: 20%;
    top: 20%;
    left: 62%;
    background: green;
    border-radius: 50% / 50%;
    rotate: 12deg;
    z-index: 2;
}

.dino .whisker_1, .dino .whisker_2 {
    position: absolute;
    height: 3px;
    width: 8%;
    top: 19%;
    background: green;
}

.dino .whisker_1{
    left: 65%;
    rotate: 72deg;
}

.dino .whisker_2{
    left: 72%;
    rotate: 108deg;
}

.dino .eye_1, .dino .eye_2 {
    position: absolute;
    border-radius:50%;
    background:black;
    width:2%;
    height:4%;
    z-index: 3;
}
.dino .eye_1:before, .dino .eye_2:before {
    position: relative;
    left: 43%;
    top: 40%;
    content:'';
    display: block;
    border-radius: 50%;
    background:white;
    width:60%;
    height: 30%;
    align-self: center;
}

.dino .eye_1 {
    top: 22%;
    left: 70%;
}

.dino .eye_2 {
    top: 21.5%;
    left: 74%;
}

.dino .teeth_1, .dino .teeth_2, .dino .teeth_3, .dino .teeth_4 {
    position: absolute;
    width: 0; 
    height: 0;
    border-style: solid;
    border-width: 0.6em 0.3em 0.6em 0.3em;
    border-color: yellow transparent transparent transparent;
    z-index: 4;
}

.dino .teeth_1{
    top: 32%;
    left: 69%;
    rotate: 30deg;
}

.dino .teeth_2{
    top: 33%;
    left: 72.5%;
    rotate: 4deg;
}

.dino .teeth_3{
    top: 32.5%;
    left: 76%;
    rotate: -18deg;
}

.dino .teeth_4{
    top: 31%;
    left: 79%;
    rotate: -36deg;
}

.dino .nose_1, .dino .nose_2{
    position: absolute;
    height: 1.5%;
    width: 1.5%;
    background: black;
    border-radius: 50% / 50%;
    z-index: 4;
}

.dino .nose_1{
    top: 29.5%;
    left: 74%;
}

.dino .nose_2{
    top: 29%;
    left: 76%;
}

.dino .hand_1, .dino .hand_2 {
    position: absolute;
    width: 3%;
    height: 10%;
    background: green;
    border-radius: 100px 100px;
    rotate: -75deg;
  }
  
.dino .hand_1::before, .dino .hand_2::before {
    content: '';
    position: absolute;
    top: 45%;
    left: -150%;
    width: 180%;
    height: 100%;
    background: green;
    border-radius: 100% 100%;
    rotate: 75deg;
}

.dino .hand_1{
    top: 40%;
    left: 57%;
    z-index: 5;
}

.dino .hand_2{
    top: 38%;
    left: 63%;
    z-index: 1;
}

.dino .leg_1, .dino .leg_2 {
    position: absolute;
    width: 5%;
    height: 10%;
    background: green;
    border-radius: 100px 100px;
    rotate: 10deg;
  }
  
.dino .leg_1::before, .dino .leg_2::before {
    content: '';
    position: absolute;
    top: 45%;
    left: -10%;
    width: 250%;
    height: 60%;
  /* border: 2px solid green; */
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;  /* угол состоит из половины ширины (50% от 10em = 10em : 2 = 5em) и всей высоты (100% от 5em = 5em) */
  background: linear-gradient(to right, green, rgb(200, 200, 200))
}

.dino .leg_1{
    top: 57%;
    left: 38%;
    z-index: 2;
}

.dino .leg_2{
    top: 57%;
    left: 48%;
    z-index: 1;
}