/* Стилизация footer */
footer {
    display: flex;
    justify-content: center; /* Для размещения элементов на противоположных сторонах */
    align-items: center; /* Центрирование элементов по вертикали */
    background-color: #f0f0f0;
    height: 90px;
    width: 100%;
    position: relative;
    text-align: center; /* Центрирование текста, если он занимает более одной строки */
}

footer p {
    margin: 0; /* Убирает стандартные отступы абзаца */
    font-size: 16px; /* Размер шрифта в пикселях, настраивайте по вашему усмотрению */
}